body {
  background: radial-gradient(circle, #a0a0a0, #6b6b6b);
  /* first (255, 0, 255, 0), second (92, 103, 106, 0) */
  color: white;
}

.logo {
  height: 20em;
  width: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms, width 0.5s, height 0.5s;
}

.welcome {
  color: white;
  font-weight: bold;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  width: 25em;
  height: 25em;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
