body {
  background: radial-gradient(circle, #a0a0a0, #6b6b6b);
  /* first (255, 0, 255, 0), second (92, 103, 106, 0) */
  color: white;
}

.logo {
  width: 400px;
  height: 400px;
}

.welcome {
  color: white;
  font-weight: bold;
}
