.random-movie-page {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
}

.movie-wheel {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
}

.movie-wheel-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(0deg); /* Start with no rotation */
  animation: spin 3s linear infinite; /* Continuous spinning */
}

.movie-wheel-item {
  position: absolute;
  width: 50%;
  height: 50%;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}


.movie-wheel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.optionsList{
  border-radius: 20px ;
  color: white;
  background-color: black;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.RandomMovieBtn{
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  background-color: rgb(255, 255, 0);
}

.RandomMovieBtn:hover{
  background-color: #646cff;
}