.sidebar {
  position: fixed;
  width: 15vw;
  background-color: #5c676a;
  height: calc(100% - 80px);
  top: 80px;
  transition: right 1s;
  right: 100%;
  z-index: 900;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sidebar {
    width: 50vw;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 70vw;
  }
}
